
html {
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
}

.jigsaw-block {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  cursor: grab;
}

.jigsaw-block:active {
  cursor: pointer;
  cursor: grabbing;
}

.jigsaw-sliderContainer {
  position: relative;
  text-align: center;
  width: 300px;
  height: 38px;
  line-height: 38px;
  margin-top: 15px;
  background: #f7f9fa;
  color: #45494c;
  border: 1px solid #e4e7eb;
}
.jigsaw-sliderContainer, .jigsaw-sliderContainer * {
  box-sizing: content-box;
}
 
.jigsaw-sliderContainer_active .jigsaw-slider {
  height: 38px;
  top: -1px;
  border: 1px solid #1991FA;
}

.jigsaw-sliderContainer_active .jigsaw-sliderMask {
  height: 38px;
  border-width: 1px;
}

.jigsaw-sliderContainer_success .jigsaw-slider {
  height: 38px;
  top: -1px;
  border: 1px solid #52CCBA;
  background-color: #52CCBA !important;
}

.jigsaw-sliderContainer_success .jigsaw-sliderMask {
  height: 38px;
  border: 1px solid #52CCBA;
  background-color: #D2F4EF;
}

.jigsaw-sliderContainer_success .jigsaw-sliderIcon {
  background-position: 0 -13px !important;
}

.jigsaw-sliderContainer_fail .jigsaw-slider {
  height: 38px;
  top: -1px;
  border: 1px solid #f57a7a;
  background-color: #f57a7a !important;
}

.jigsaw-sliderContainer_fail .jigsaw-sliderMask {
  height: 38px;
  border: 1px solid #f57a7a;
  background-color: #fce1e1;
}

.jigsaw-sliderContainer_fail .jigsaw-sliderIcon {
  top: 14px;
  background-position: 0 -67px !important;
}
.jigsaw-sliderContainer_active .jigsaw-sliderText, .jigsaw-sliderContainer_success .jigsaw-sliderText, .jigsaw-sliderContainer_fail .jigsaw-sliderText {
  display: none;
}

.jigsaw-sliderMask {
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  border: 0 solid #1991FA;
  background: #D1E9FE;
}

.jigsaw-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: background .2s linear;
  cursor: pointer;
  cursor: grab;
}

.jigsaw-slider:active {
  cursor: grabbing;
}

.jigsaw-slider:hover {
  background: #1991FA;
}

.jigsaw-slider:hover .jigsaw-sliderIcon {
  background-position: 0 0;
}

.jigsaw-sliderIcon {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 14px;
  height: 12px;
  background: url(./img/icon_light.png) 0 -26px;
  background-size: 32px 544px;;
}

.jigsaw-refreshIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
  background: url(./img/icon_light.png);
  background-position: 0 -299px;
  background-size: 32px 544px;
}

.jigsaw-canvas, .jigsaw-sliderContainer, .jigsaw-sliderContainer .jigsaw-sliderMask, .jigsaw-slider {
  border-radius: 2px;
}